<h1>My Lists</h1>

Search: <input ng-model="query">
<div id="all-lists" ng-model="lists" ng-controller="ListCtrl">
  <ul>
    <li ng-repeat="list in lists | filter:query">
      <span> {{ list.name }} </span>
    </li>
  </ul>
</div>
<form ng-submit="createList(listName)" ng-controller="ListCtrl">
    Name:
    <input type="text" ng-model="listName" name="listName" ng-model-options="{ debounce: 250 }" /><br />
    <input type="submit" id="submit" value="Save" />
     <pre>lists={{lists}}</pre>
</form>

