<div ng-controller="PlaceListCtrl">
  <h1>The {{list.name}}</span> List!</h1>

  <h2>Find Places</h2>
  <form ng-submit="createOrAdd(place.name)" novalidate>
      Place:
      <input type="text" ng-model="place.name" ng-model-options="{ debounce: 250 }" list="placeOptions" /><br />
      <input type="submit" id="savePlace" value="Add" />
  </form>
  </br>

   <datalist id="placeOptions">
      <option ng-repeat="p in places | orderBy:'name'" value="{{ p.name }}" ></option>
  </datalist>

  <h2> The Places Are...</h2>
  <div id="list-places" ng-model="listPlaces">
    <ul>
      <li ng-repeat="place in listPlaces | filter:query | orderBy:'name'">
        <span>
          {{ place.name }}
          <button ng-click="removePlace(place.id)"> Remove </button>
        </span
      </li>
    </ul>
  </div>
</div>
