<div ng-controller="ListCtrl">
  <div class="search-box">
    Search: <input type="text" ng-model="query">
  </div>
  <div class="list-section container-fluid">
    <div id="all-lists" ng-model="lists">
      <ul class="list-unstyled list-box">
        <li ng-repeat="list in lists | filter:query | orderBy:'name'">
          <div class="single-list-box col-lg-4 col-md-6 col-sm-12">
            <ul class="list-group">
              <li class="list-header list-group-item">
                <span class="list-name"><a href='#/lists/{{ list.id }}'> {{ list.name }}</a></span>
                <span class="list-location"><p>NE, Portland, OR</p></span></li>
              <li class="list-place list-group-item">Barista</li>
              <li class="list-place list-group-item">Fresh Pot</li>
              <li class="list-place list-group-item">Stumptown</li>
              <li class="list-place list-group-item">Courier Coffee</li>
            </ul>
            <button type="button" class="btn btn-default" ng-click="deleteList(list.id)">
            Delete</button></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="bottom-section container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="create-list-input form-control" id="list-name" placeholder="best pizza joints" ng-model="list.name" ng-model-options="{ debounce: 250 }">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="createList(list.name)" id="saveList">Create</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

