$landing-header-height: 600px;
$landing-img-overlay: rgba(23,25,24,.8);

.landing-section {
  .landing-header-bkgd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $landing-header-height;
    background-image: url('./images/glass.jpg');
    background-color: black;
    background-size: cover;
    z-index:-1;
    .landing-black-box {
      background-color: $landing-img-overlay;
      width: 100%;
      height:100%;
    }
  }
  .landing-header {
    color: white;
    margin: 8em;
    h1 { font-family: 'Roboto'; }
  }
}
