@import 'nav';
@import 'login';
@import 'places';
@import 'discover';

//color palette is at https://coolors.co/bfc6c5-343434-60c1a9-56638a-fdfffc

body {
  padding: 2em 0em;
  text-align: center;

  footer {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
