@import 'bootstrap-customizations';
@import 'bootstrap-components';
@import 'nav';
@import 'login';

body {
  padding: 2em 0em;
  text-align: center;

  footer {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
