// app css stylesheet

@import 'second';

.menu {
  list-style: none;
  border-bottom: 0.1em solid #a2a79e;
  margin-bottom: 2em;
  padding-bottom: 0.5em;
  text-align: left;

  & > li {
    display: inline;
  }
}


.menu > li a {
  text-decoration: none;
  color: #262228;
}

.menu > li:before {
  content: "|";
  padding: 0.6em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.menu a:hover {
  color: #a86a6a;
}

.menu a:active {
  color: red;
}

body {
  background-color: #fbf9ff;
  font-family: 'Lato';
  color: #262228;
  margin: 2em 6em;
  text-align: center;
}

h1 {
  font-size: 300%;
}

.login-section {
  display: inline-block;
}

.login-section input[type="text"] {
  width: 200px;
  font-size: 125%;
  margin: 0.75em;
  padding: 0.3em;
}

.login-section button, input[type="submit"] {
  margin: 0.5em;
  padding: 0.5em;
  font-size: 125%;
  width: 180px;
  box-shadow: none;
  color: #fff;
  background-color: #2bad8c;
  border: none;
}

.login-section button:hover, input[type="submit"]:hover {
  background-color: #1f7f67;
  text-shadow: -1px 1px #27496d;
}

.login-section button:active, input[type="submit"]:active {
  background-color: #006048;
  text-shadow: -1px 1px #193047;
}

footer {
  height: 25px;
  color: #af6e8c;
  position: relative;
  margin: 3em 0em 1em 0em;
}
