<div ng-controller="DiscoverCtrl">
  <div class="discover-section container-fluid">
    <div class="discover-header">
      <div class="discover-black-box"></div>
    </div>
    <div class="discover-search">
      <h1>the world is your oyster</h1>
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="coffee shops in portland">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </span>
      </div>
    </div>
    <div class="discover-results container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4"><div class="well well-lg">1st Place</div></div>
        <div class="col-xs-12 col-sm-6 col-md-4"><div class="well well-lg">2nd Place</div></div>
        <div class="col-xs-12 col-sm-6 col-md-4"><div class="well well-lg">3rd Place</div></div>
        <div class="col-xs-12 col-sm-6 col-md-4"><div class="well well-lg">4th Place</div></div>
        <div class="col-xs-12 col-sm-6 col-md-4"><div class="well well-lg">5th Place</div></div>
        <div class="col-xs-12 col-sm-6 col-md-4"><div class="well well-lg">6th Place</div></div>
        <div class="col-xs-12 col-sm-6 col-md-4"><div class="well well-lg">7th Place</div></div>
        <div class="col-xs-12 col-sm-6 col-md-4"><div class="well well-lg">8th Place</div></div>
        <div class="col-xs-12 col-sm-6 col-md-4"><div class="well well-lg">9th Place</div></div>
        <div class="col-xs-12 col-sm-6 col-md-4"><div class="well well-lg">10th Place</div></div>
      </div>
    </div>
  </div>
</div>
