<div ng-controller='LoginCtrl'>
  <div class="login-section" ng-show="!userIsLoggedIn()">
    <h1>Login</h1>
    <form ng-submit="login()" novalidate>
        <span> Username: <input type="text" class="username" ng-model="formUsername" ng-model-options="{ debounce: 250 }" /></span>
        </br>
        <span> Password: <input type="text" class="password" ng-model="formPassword" ng-model-options="{ debounce: 250 }" /></span>
        </br>
        <input type="submit" class="login-button" value="Login" />
    </form>
    </br>
    <button ng-class="signup-button" ng-click="signup()"> Sign Up </button>
  </div>
  <div class="logout-section" ng-show="userIsLoggedIn()">
    <h2>LogOut</h2>
    <button ng-class="logout-button" ng-click="logout()"> Log Out </button>
    </br>
  </div>
</div>
