<div ng-controller="PlaceListCtrl">
  <h1>My Places</h1>

  Search: <input ng-model="query">
  <div id="place-list" ng-model="places">
    <ul class="list-unstyled">
      <li ng-repeat="place in places | filter:query | orderBy:'name'">
        <span> {{ place.name }}
          <button type="button" class="btn btn-default" ng-click="deletePlace(place.id)">
          Delete <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button>
        </span>
        <p> {{ place.type }} </p>
      </li>
    </ul>
  </div>
</div>
